<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Memory :: Game by loqtor</title>
  <link rel="stylesheet" href="styles/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
  <script>
    window.fbAsyncInit = function () {
      FB.init({
        appId      : '1077877792269491',
        xfbml      : true,
        version    : 'v2.6'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
  <header>
    <h1 innerHTML="Memory :: Tremendo Game"></h1>
    <div
      class="fb-like"
      data-share="true"
      data-width="450"
      data-show-faces="true">
    </div>
  </header>
  <div id="clock"></div>
  <div id="controls">
    <button class="btn-default" data-action="fb">Use facebook friends.</button>
    <button class="btn-default" data-action="default">Use default images.</button>
  </div>
  <div class="container">
    <div id="board" class="row"></div>
    <div id="in-game-controls" class="row">
      <button class="btn-default hide" data-action="restart">Restart</button>
    </div>
  </div>
</body>
<script type="underscore/template" id="tiles-tpl">
  <% _.each(tiles, function (tile) { %>
    <div class="col-lg-3 col-md-3 col-sm-3 tile" data-index="<%= tile.index %>" data-status="<%= tile.status %>">
      <span>Flip me!</span>
      <img src="<%= tile.img %>">
    </div>
  <% }); %>
</script>
<script type="text/javascript" src="app/src/lib/jquery.js"></script>
<script type="text/javascript" src="app/src/lib/lodash.js"></script>
<script type="text/javascript" src="app/src/modules/status.js"></script>
<script type="text/javascript" src="app/src/modules/tile.js"></script>
<script type="text/javascript" src="app/src/modules/board.js"></script>
<script type="text/javascript" src="app/src/modules/template.js"></script>
<script type="text/javascript" src="app/src/modules/clock.js"></script>
<script type="text/javascript" src="app/src/modules/memory.js"></script>
<script type="text/javascript">

  (function() {
    Memory.init();
  })();

</script>
</html>
